body {
  display: inline;
  margin: 0%;
}

.lnav {
  float: left;
  width: 10%;
  height: 100%;
}

.editor {
  float: left;
  width: 90%;
  height: 1080px;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: black;
  font-size: 100%;
  text-wrap: wrap;
  text-align: left;
}

button {
  height: 30px;
  width: 100px;
  font-size: 70%;
  text-wrap: wrap;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
  border: none;
  background-color: transparent;
}
.dropdown-content button:hover {
  background-color: #f1f1f1;
}
