body {
  display: inline;
  margin: 0%;
}

.block-1 {
  float: left;
  width: 10%;
  height: 100%;
}

.editor {
  float: left;
  width: 90%;
  height: 1080px;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: black;
  font-size: 100%;
  text-wrap: wrap;
  text-align: left;
}

button {
  height: 30px;
  width: 100px;
  font-size: 70%;
  text-wrap: wrap;
  text-align: left;
}
