.block-1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  /* background: blue; */
  color: #fff;
  overflow: auto;
}
.block-2 {
  position: fixed;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  /* background: green; */
  /* color: #fff;
  overflow: auto; */
}

.text {
    color: black;
    font-size: 150%;
}

button {
  height: 50px;
  width: 100px;
}
